
.main-border {
    -fx-background-color:#1c2033;
    -fx-background-image: url("image.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 550 650;
    -fx-background-position: center center;
}

.main-menu {
    -fx-background-color: -fx-my-menu-color;
}

.main-label {
    -fx-text-fill:  #f8fafd;
}
