
.text-field {
    -fx-background-color: #1c2033, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: #e7f0fb, -fx-background ;
}